<div class = "hori">
  <div class = "ver">
    <!-- <button class="button1"></button> -->
    <a class="button1">
      <img src="/assets/images/others/my_web/uva.png" alt="nycu">
    </a>
    <a [routerLink]="[path.home]">UVa手札</a>
  </div>
  <div class = "ver">
    <a class="button2">
      <img src="/assets/images/others/my_web/cf.png" alt="nycu">
    </a>
    <a [routerLink]="[path.home]">Codeforce手札</a>
  </div>
  <div class = "ver">
    <a class="button3">
      <img src="/assets/images/others/my_web/leetcode.jpg" alt="nycu">
    </a>
    <a [routerLink]="[path.home]">LeetCode手札</a>
  </div>
</div>
  
  